<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SERVICE_ODERS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SERVICE_ODERS.My.MySettings.Setting" connectionString="Data Source=GT-SERVER01\EDP;Initial Catalog=TESTSCO;User ID=sa;Password=Admin1" />
    <add name="SERVICE_ODERS.My.MySettings.SCOConnectionString" connectionString="Data Source=GT-SERVER01\EDP;Initial Catalog=TESTSCO;Persist Security Info=True;User ID=sa;Password=Admin1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SQLServer" value="GT-SERVER01\EDP" />
    <add key="DBName" value="TESTSCO" />
    <add key="User" value="sa" />
    <add key="Pwd" value="Admin123" />
    <add key="DSN" value="SCO" />
    <add key="COName" value="BW - BRIGHT WOOD SDN BHD" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CString" value="Data Source=GT-SERVER01\EDP;Initial Catalog=TESTSCO;Persist Security Info=True;User ID=sa;Password=Admin123" />
    <add key="BPath" value="F:\Service Order\SCO_2020\NEW SCO\BW\" />
    <add key="SavePath" value="\\gt-server01\Service Order\SCO_2020\NEW SCO\BW\backup\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SERVICE_ODERS.My.MySettings>
      <setting name="UserAc" serializeAs="String">
        <value>&amp;Save</value>
      </setting>
    </SERVICE_ODERS.My.MySettings>
  </userSettings>
</configuration>